*{
    margin:0;
    padding:0;
}
.main{
    width: 100%;
    height: 450px;
    background-color: black;
    position: relative;
}
.content{
    width: auto;
    height: 40px;
    color:white;
    position: relative;
    font-size: 20px;
}
.float{
    position: absolute;
    left:1440px;
    width:auto;
    white-space: nowrap;
    overflow: hidden；
}
.text{
    position: absolute;
    top:460px;
    left: 30%;
    width: 500px;
    height: 30px;
    font-size: 15px;
}
.input_text{
    width: 400px;
    height: 25px;
}
input[type="button"]{
    padding: 20px;
    font-size: 30px;
}