*{
    margin:0;
    padding:0;
}
body{
    background-color: blueviolet;
}
.button{
    width: 500px;
    height: auto;
    margin: 0 auto;
}
ul{
    list-style: none;
    margin-top: 50%;
}
ul li{
    float: left;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
    height: 40px;
    line-height: 40px;
}
#purple{
    background-color: purple;
    border: 1px solid #eee;
}
#blue{
    background-color:blue;
    border: 1px solid #eee;
}
#green{
    background-color: green;
    border: 1px solid #eee;
}
#red{
    background-color: red;
    border: 1px solid #eee;
}